body {
    background-color: #F5BF60;
}
h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: Arial, sans-serif;
    text-decoration: #000000;
}
a, p, li {
    font-size: 1.5vw;
}
h1 {
    font-size: 8.5vw;
}
h2 {
    font-size: 7.5vw;
}
h3 {
    font-size: 6.5vw;
}
h4 {
    font-size: 5.5vw;
}
h5 {
    font-size: 4.5vw;
}
h6 {
    font-size: 3.5vw;
}

.child-anchor {
    text-decoration: revert;
    color: revert;
    font-size: inherit;
}
.giant {
    width: 100vw;
    height: 100vh;
}

#spinning-saturn {
    width: 25vw;
    height: auto;
}
#no-script {
    z-index: 999;
}
#loading-screen {
    z-index: 998;
}