body {
    background-color: #F5BF60;
}
h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    text-decoration: #000000;
}
a, p, li {
    font-size: 2.75vw;
}
h1 {
    font-size: 6.25vw;
}
h2 {
    font-size: 5.75vw;
}
h3 {
    font-size: 5.25vw;
}
h4 {
    font-size: 4.75vw;
}
h5 {
    font-size: 4.25vw;
}
h6 {
    font-size: 3.75vw;
}

.child-anchor {
    text-decoration: revert;
    color: revert;
    font-size: inherit;
}
.giant {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.license-text a, .license-text {
    text-align: center;
    font-size: 1.375vw;
}
#spinning-saturn {
    width: 25vw;
    height: auto;
}
#no-script {
    z-index: 999;
}
#loading-screen {
    z-index: 998;
}