body {
    background-color: #f5bf60;
}
a, p, li {
    font-size: 1.5vw;
    font-family: Arial, sans-serif;
}
p, li {
    text-decoration: #000000;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
    text-decoration: #000000;
}
h1 {
    font-size: 8.5vw;
}
h2 {
    font-size: 7.5vw;
}
h3 {
    font-size: 6.5vw;
}
h4 {
    font-size: 5.5vw;
}
h5 {
    font-size: 4.5vw;
}
h6 {
    font-size: 3.5vw;
}
.childA {
    text-decoration: revert;
    color: revert;
    font-size: inherit;
}
.giant {
    width: 100vw;
    height: 100vh;
}
#saturn {
    width: clamp(10.5rem, 27.5vw, 30rem);
    height: auto;
}
#noScript {
    z-index: 999;
}
#loadingScreen {
    z-index: 998;
}