body {
    background-color: #f5bf60;
}
a {
    font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
    font-family: Arial, sans-serif;
}
p, li {
    font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
    font-family: Arial, sans-serif;
    text-decoration: #000000;
}
h1, h2, h3, h4, h5, h6 {
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
    font-family: Arial, sans-serif;
    text-decoration: #000000;
}
.child-a {
    text-decoration: revert;
    color: revert;
    font-size: inherit;
}
.giant {
    width: 100vw;
    height: 100vh;
}
#saturn {
    width: clamp(10.5rem, 27.5vw, 30rem);
    height: auto;
}
#no-script {
    z-index: 999;
}
#loading-screen {
    z-index: 998;
}