/*this is specifically for positioning the elements which is specific to this page. not a template.*/
/*the gif is only positioned explicitly here. most of the time it is not positioned explicitly and has a line break after*/
#saturn {
    top: 25%;
    left: 50%;
    translate: -50%, -50%;
    z-index: 1;
    position: absolute;
}
#main-text {
    top: 50%;
    left: 50%;
    translate: -50%, -50%;
    z-index: 10;
    position: absolute;
}